body{
    font-family: 'Poppins', sans-serif;
}

header{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
}
main{
    padding: 100px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.upbox{
    padding-left: 200px;
    position: relative;
    padding-right: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    background-color: rgb(167, 90, 81);
    align-items: center;
    max-width: 400px;
    border-top-right-radius: 70px;
    border-bottom-left-radius: 70px;
    background-image: url("./images/dirt-bg-darker.png")
    , url("./images/dirt-bg.png");
    background-repeat: no-repeat;
    background-position: right;
    background-position-x: 280px, -350px;
    background-position-y: top, -460px;
    background-size: cover;
}

.box_img{
    position: absolute;
    top: -55;
    left: 70;
}
.info{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.info h1{
    margin: 0;
    letter-spacing: 0.9px;
    line-height: 0.8;
}

.lvl{
    margin: 0;
    color: #50C878;
    margin-bottom: 15px;
}
.price, .power{
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 30px;
}

.price, .power{
    width: 110px;
}
.price img{
    width: 30px;
    margin-right: 1px;
}
.cost{
    margin-left: 7px;
}

.power img{
    width: 27px;
    margin-right: 7px;
}

.power p:nth-child(3){
    margin-left: 7px;
}

.button{
    margin-left: auto;
}

.button button{
    background: #00C853;
    font-size: 20px;
    color: white;
    border-radius: 9px;
    box-shadow: 0 7px 0px #018036;
    display: inline-block;
    transition: all .1s;
    position: relative;
    padding: 17px 45px;
    position: relative;
    top: 0;
    cursor: pointer;
    margin:0 20px;
    border: none;
    white-space: nowrap;
}
.button button:active{
    top: 3px;
    box-shadow: 0 4px 0px #018036;
    transition: all .1s;
    transform: scale(0.9);
}


