body{
    margin: 0;
    padding: 0;

}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.upgrade1{
    padding: 15px;
    width: 250px;
    height: 30px;
    background-color: black;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: white;
}

ul{
    list-style: none;
}