.upbox{
    position: absolute;
    padding: 50px;
    display: flex;
    background-color: #1c1c37;
    align-items: center;
    max-width: 250px;
    border-radius: 50%;
    box-shadow: -3px -3px 25px 1px #B42033, 3px 3px 25px 1px #B42033,
    inset -3px -3px 25px 1px #B42033;
    transition: all .3s ease-in-out;
    cursor: pointer;
}
.info h1{
    margin: 0;
    letter-spacing: 0.9px;
    line-height: 0.8;
}

.lvl{
    margin: 0;
    color: #50C878;
    margin-bottom: 8px;
}
.price, .power{
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 30px;
}

.price, .power{
    width: 110px;
}
.price img{
    width: 30px;
    margin-right: 1px;
}
.cost{
    margin-left: 10px;
}

.power img{
    width: 27px;
    margin-right: 7px;
}

.power p:nth-child(3){
    margin-left: 7px;
}

.button{
    display: none;
}

.button button{
    background: #00C853;
    font-size: 20px;
    color: white;
    border-radius: 9px;
    box-shadow: 0 7px 0px #018036;
    display: inline-block;
    transition: all .1s;
    position: relative;
    padding: 17px 45px;
    position: relative;
    top: 0;
    cursor: pointer;
    margin:0 20px;
    border: none;
    white-space: nowrap;
}
.button button:active{
    top: 3px;
    box-shadow: 0 4px 0px #018036;
    transition: all .1s;
    transform: scale(0.9);
}

.available:hover{
    transition: all .3s ease-in-out;
    transform: scale(1.05);
    animation: Shadow_available 30s infinite;
}

.not:hover{
    transition: all .3s ease-in-out;
    transform: scale(1.05);
    animation: Shadow 15s infinite;
}

.upbox:active{
    transition: all .1s ease-in-out;
    transform: scale(0.99);
}

.upbox_wood{
    top: 260;
    left: 190;
    background-color: #291913;
    color: #C75533;
}
.upbox_stone{
    top: 680;
    left: 60;
}
.upbox_sand{
    top: 510;
    left: 440;
}
.upbox_calcaire{
    top: 280;
    left: 730;
}
.upbox_calcaire h1{
    font-size: 25px;
}








@keyframes Shadow{
    0%{
        box-shadow: -3px -3px 25px 1px #B42033, 3px 3px 25px 1px  #B42033,
        inset -3px -3px 25px 1px #B42033;
    }
    10%{
        box-shadow: -3px -3px 15px 1px #87CEEB, 3px 3px 15px 1px  #87CEEB;
    }
    20%{
        box-shadow: -3px -3px 15px 1px #19B5FE, 3px 3px 15px 1px  #19B5FE;
    }
    30%{
        box-shadow: -3px -3px 25px 1px #4682B4, 3px 3px 25px 1px  #4682B4;
    }
    40%{
        box-shadow: -3px -3px 25px 1px #1f4e74, 3px 3px 25px 1px  #1f4e74;
    }
    50%{
        box-shadow: -3px -3px 25px 1px #967BB6, 3px 3px 25px 1px  #967BB6;
    }
    60%{
        box-shadow: -3px -3px 25px 1px #BF55EC, 3px 3px 25px 1px  #BF55EC;
    }
    70%{
        box-shadow: -3px -3px 25px 1px #8E44AD, 3px 3px 25px 1px  #8E44AD;
    }
    80%{
        box-shadow: -3px -3px 25px 1px #6C3483, 3px 3px 25px 1px  #6C3483;
    }
    90%{
        box-shadow: -3px -3px 25px 1px #6409a4, 3px 3px 25px 1px  #6409a4;
    }
    100%{
        box-shadow: -3px -3px 25px 1px #4B0082, 3px 3px 25px 1px  #4B0082;
    }
}

@keyframes Shadow_available{
    0%{
        box-shadow: -3px -3px 25px 1px #50C878, 3px 3px 20px 1px  #50C878,
        inset -3px -3px 25px 1px #50C878;
    }
    5%{
        box-shadow: -3px -3px 15px 1px #87CEEB, 3px 3px 25px 1px  #87CEEB,
        inset 3px 3px 15px 1px  #87CEEB;
    }
    10%{
        box-shadow: -3px -3px 20px 1px #19B5FE, 3px 3px 30px 1px  #19B5FE,
        inset -3px -3px 20px 1px #19B5FE;
    }
    15%{
        box-shadow: -3px -3px 45px 1px #4682B4, 3px 3px 30px 1px  #4682B4,
        inset 3px 3px 30px 1px  #4682B4;
    }
    20%{
        box-shadow: -3px -3px 25px 1px #1f4e74, 3px 3px 35px 1px  #1f4e74,
        inset -3px -3px 25px 1px #1f4e74;
    }
    25%{
        box-shadow: -3px -3px 30px 1px #967BB6, 3px 3px 25px 1px  #967BB6,
        inset 3px 3px 25px 1px  #967BB6;
    }
    30%{
        box-shadow: -3px -3px 25px 1px #BF55EC, 3px 3px 20px 1px  #BF55EC,
        inset -3px -3px 25px 1px #BF55EC;
    }
    35%{
        box-shadow: -3px -3px 35px 1px #8E44AD, 3px 3px 25px 1px  #8E44AD,
        inset 3px 3px 25px 1px  #8E44AD;
    }
    40%{
        box-shadow: -3px -3px 25px 1px #6C3483, 3px 3px 40px 1px  #6C3483,
        inset -3px -3px 25px 1px #6C3483;
    }
    45%{
        box-shadow: -3px -3px 30px 1px #6409a4, 3px 3px 25px 1px  #6409a4,
        inset 3px 3px 25px 1px  #6409a4;
    }
    50%{
        box-shadow: -3px -3px 25px 1px #4B0082, 3px 3px 50px 1px  #4B0082,
        inset -3px -3px 25px 1px #4B0082;
    }
    55%{
        box-shadow: -3px -3px 30px 1px #6409a4, 3px 3px 25px 1px  #6409a4,
        inset 3px 3px 25px 1px  #6409a4;
    }
    60%{
        box-shadow: -3px -3px 25px 1px #6C3483, 3px 3px 40px 1px  #6C3483,
        inset -3px -3px 25px 1px #6C3483;
    }
    65%{
        box-shadow: -3px -3px 35px 1px #8E44AD, 3px 3px 25px 1px  #8E44AD,
        inset 3px 3px 25px 1px  #8E44AD;
    }
    70%{
        box-shadow: -3px -3px 25px 1px #BF55EC, 3px 3px 20px 1px  #BF55EC,
        inset -3px -3px 25px 1px #BF55EC;
    }
    75%{
        box-shadow: -3px -3px 30px 1px #967BB6, 3px 3px 25px 1px  #967BB6,
        inset 3px 3px 25px 1px  #967BB6;
    }
    80%{
        box-shadow: -3px -3px 25px 1px #1f4e74, 3px 3px 35px 1px  #1f4e74,
        inset -3px -3px 25px 1px #1f4e74;
    }
    85%{
        box-shadow: -3px -3px 45px 1px #4682B4, 3px 3px 30px 1px  #4682B4,
        inset 3px 3px 30px 1px  #4682B4;
    }
    90%{
        box-shadow: -3px -3px 20px 1px #19B5FE, 3px 3px 30px 1px  #19B5FE,
        inset -3px -3px 20px 1px #19B5FE;
    }
    95%{
        box-shadow: -3px -3px 15px 1px #87CEEB, 3px 3px 25px 1px  #87CEEB,
        inset 3px 3px 15px 1px  #87CEEB;
    }
    100%{
        box-shadow: -3px -3px 25px 1px #50C878, 3px 3px 20px 1px  #50C878,
        inset -3px -3px 25px 1px #50C878;
    }
}


